.header img {
    float: left;
    width: 90px;
    height: 90px;
    background: #555;
}
.header h1 {
    position: relative;
    top: 10px;
    left: 10px;
}
.d-flex {
	float: right;
}

/* Search Bar */
#bookInput{
    float: right;
    margin-bottom: 0;
    height:35px;
}

/* Search Button */
#search{
	position: relative;
    float: right;
    margin-bottom: 0;
    background: green;
    height:35px;
    width:68px;
    text-align: center;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
	float: right;
	cursor: pointer;
	height:35px;
	background-color: #fff;
	border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0);
}

a {
color: black;
}

#list {
background-color: beige;
}

#bookInfo {
    background-color: beige;
    color: black;
}

