
/* Search Bar */
#bookInput{
width: 220px;
}

/* Search Button */
#search{

}

/* Dropdown Menu */
.dropdown {
      position: relative;
     	float: right;
     	cursor: pointer;
     	text-transform: uppercase;
     	height:35px;
     	width:68px;
     	background-color: #fff;
     	border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0);
    }

#results {
   margin: auto;
   position:relative;
   margin-top:120px;
}

.carousel-item{
    height: 40rem;
    background:#000;
    color:white;
    position: relative;
}
.carousel-container {
    position: absolute;
    bottom: 0;
    left: 950px;
    right:0;
    padding-bottom: 40px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;


}

.navbar-brand img {
    float: left;
    width: 85px;
    height: 70px;
}

.gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,107,1) 67%, rgba(0,212,255,1) 100%);
}

body{
    height: 100%;
}