.header img {
    float: left;
    width: 90px;
    height: 90px;
    background: #555;
}
.header h1 {
    position: relative;
    top: 10px;
    left: 10px;
}

#bookInput{
    float: right;
    margin-bottom: 0;
    height:35px;
}

#search{
    float: right;
    margin-bottom: 0;
    background: green;
    height:35px;
    width:121px;
    text-align: center;
}

.dropdown {
  position: relative;
	float: right;
	cursor: pointer;
}
