<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container" th:style="'background: url(/image/backgroundpic.png); background-repeat: repeat; background-size: cover; background-size: cover; background-size:100% 100vh;'">
<nav th:replace="fragments :: nav"></nav>
<br>
<br>
<br>
<br>
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="overlay-image" style="background-image:url(./image/carousel1.jpg);"></div>
            <div class="carousel-container">
                <a href="/book" onclick="carouselBookOne(this);" class="btn btn-lg btn-primary">
                    View Book
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="overlay-image" style="background-image:url(./image/carousel2.png);"></div>
            <div class="carousel-container">
                <a href="/book" onclick="carouselBookTwo(this);" class="btn btn-lg btn-primary">
                    View Book
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="overlay-image" style="background-image:url(./image/carousel3.jpg);"></div>
            <div class="carousel-container">
                <a href="/book" onclick="carouselBookThree(this);" class="btn btn-lg btn-primary">
                    View Book
                </a>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>


</body>
</html>