<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" th:style="'background: url('+@{/image/backgroundpic.png}+'); background-repeat: no-repeat, repeat; background-size: cover;'">

<header th:fragment="header">
   <div class="header"><a href="libImage.png"><img src="img\libImage.png"></a><h1>LiftOff Library</h1>
   </div>


</header>
<script>

   function bookFinder() {

      document.getElementById("list-output").innerHTML="";
      fetch("https://www.googleapis.com/books/v1/volumes?q="+document.getElementById("bookInput").value)
              .then(a =>a.json())
              .then(response =>{

                 for(let i=0;i<response.items.length;i++) {
                    let item = response.items[i];

                    //document.getElementById("list-output").innerHTML+="<h2>"+response.items[i];
                    document.getElementById("list-output").innerHTML +=
                            "<div>"+
                            "<br"+"<b><img src=" + item.volumeInfo.imageLinks.thumbnail + "<br>"+
                            "<br>" + "<b>Title: </b>" + item.volumeInfo.title + "<br>" +
                            "<b>Author: </b>" + item.volumeInfo.authors + "<br>" +
                            "<b>Published Date: </b>" + item.volumeInfo.publishedDate + "<br>" +
                            "<b>Description: </b>" + item.volumeInfo.description + "<br>"
                            +"</div>"+"<br>";
                 }
              })
   }


$(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});

</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Leave as last script for functionality -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Dropdown Menu -->
<<div class="d-flex align-content-start flex-wrap">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            All Categories
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <!-- If no selection then all categories will be searched -->
            <li><a class="dropdown-item" name="history" href="#">History</a></li>
            <li><a class="dropdown-item" name ="sports" href="#">Sports</a></li>
            <li><a class="dropdown-item" name="nonFiction" href="#">Non Fiction</a></li>
            <li><a class="dropdown-item" name = "technology" href="#">Technology</a></li>
        </ul>
    </div>


    <!-- Search Bar  -->
<div><input id="bookInput" placeholder="Search Books!..."></div>
   <!-- Search Button	 -->
   <div><button id="search" class = btn btn-primary onclick="bookFinder()">Search Books</button></div>
<br>

</div>
<br>
<h2 class="text-left">Search Result</h2>
<div class="book-list" >
   <div id="list-output" class="">

   </div>
</div>
</body>
</html>