<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" th:style="'background: url('+@{/image/backgroundpic.png}+'); background-repeat: no-repeat; background-size: cover;'">

<header th:fragment="header">
   <div class="header"><a href="libImage.png"><img src="img\libImage.png"></a><h1>LiftOff Library</h1>
   </div>


</header>


<input type="search" id="bookInput" placeholder="Search Books!...">
<button id="search" class = btn btn-primary onclick="searchTermStorage();window.location.href = '/search';">Search Books</button>
</button><br>

<br>
<h2 class="text-left">Search Result</h2>
<div class="book-list" >
   <div id="list-output" class="">

   </div>
</div>
</body>
</html>